<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cydeo</title>
</head>
<body>
<div align="center">
<!--    i want to view on the middle-->
<!--    every form needs to be assigned to one object-->
<form th:action="@{/mentor/confirm}" method="post" th:object="${mentor}">
<!--whenever I click button (here register), it is going to execute that this action part==> /mentor/confirm endpoint    -->

    <label>First Name:</label>
    <input type="text" th:field="*{firstName}"><br>

    <!--mentor.firstName-->
    <label>Last Name:</label>
    <input type="text" th:field="*{lastName}"><br>

    <label>Email:</label>
    <input type="email" th:field="*{email}"><br>

    <label>Graduated:</label>
    <input type="checkbox" th:field="*{graduated}"><br>

    <label>Gender:</label>
    <input type="radio" value="Male" th:field="*{gender}">Male
    <input type="radio" value="Female" th:field="*{gender}">Female<br>

    <label>Batch Number:</label>
    <!--drop down ==> select option-->
    <select th:field="*{batch}">
     <option th:each="theBatch : ${batchList}" th:value="${theBatch}" th:text="${theBatch}"></option>
    </select><br>

    <label>Company:</label>
    <textarea th:field="*{company}"></textarea><br>

    <button type="submit">Register</button>
<!--  put submit and go to action part ==> th:action="@{/mentor/confirm}"-->
</form>
</div>
</body>
</html>